
.container-style.container {
  margin-left: 0px;
  margin-right: 0px;
  width: 100vw;
}
.nav-brand{
  margin: 0;
  background-size: 20%;
  font-size: 10px;
} 
.my-logo {
  background-size: 20%;
}
.navbar.navbar-expand-xl.navbar-dark.bg-dark{
  
}
.ms-auto{
  text-align: right;
}
.navbar-collapse.collapse{
  width: 100vw;
}
